.day {
  width: 80%;
  margin: 0.5em auto;
}

.heading-2 {
  font-size: 1.75em;
  padding: 1em 1em 0 0;
}

.day-header {
  color: rgb(97, 97, 97);
  display: flex;
  align-content: space-between;
}

.day-header .title {
  width: 100%;
}

.day-header .today {
  width: 100%;
}

.day-header .logout {
  width: 100%;
}

.button .day-submit {
  background-color: #2490e9;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
